﻿
@{
    ViewData["Title"] = "CalculateBusinessDays";
}
@model DatesViewModel

<h1></h1>

<div class="text-center">
    <h1 class="display-4">Calculate Business Days Result</h1>

    
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-2">
                <label asp-for="StartDate"></label>
            </div>
            <div class="col-md-4">
                <input class="form-control" asp-for="StartDate" type="date" readonly/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-2">
                <label asp-for="EndDate"></label>
            </div>
            <div class="col-md-4">
                <input class="form-control" asp-for="EndDate" type="date" readonly/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-2">
                <label asp-for="NumBusinessDays"></label>
            </div>
            <div class="col-md-4">
                <input class="form-control" asp-for="NumBusinessDays" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a asp-action="Index" class="btn btn-primary">Back to homepage</a>
            </div>
        </div>

</div>
