﻿@{
    ViewData["Title"] = "Home Page";
}

@model DatesViewModel

<div class="text-center">
    <h1 class="display-4">Avant Mutual Coding Test</h1>

    <form asp-action="CalculateBusinessDays">
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-2">
                <label asp-for="StartDate"></label>
            </div>
            <div class="col-md-4">
                <input class="form-control" asp-for="StartDate" type="date" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-2">
                <label asp-for="EndDate"></label>
            </div>
            <div class="col-md-4">
                <input class="form-control" asp-for="EndDate"  type="date"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Calculate business days</button>
            </div>
        </div>
    </form>

</div>
